/* * * * * * * * * * * * * * * */
/* BASE ELEMENTS: ALPHABETICAL */
/* * * * * * * * * * * * * * * */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: peachpuff;
}

body {
    background: #eee;
    background-color: peachpuff;
    background-image: url("https://www.transparenttextures.com/patterns/groovepaper.png");
    padding: 0 16px;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    margin: auto -1rem;
    padding: 1rem 2.5rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    color: papayawhip;
    width: 100vw;
}

header,
footer {
    font-family: "Crimson Text", "Times New Roman", Times, serif;
    background-color: #c99868;
}

header h1 {
    font-size: 3rem;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 0.325rem;
}

header h3 {
    font-size: 1.15rem;
    font-weight: 400;
    font-style: italic;
}

footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100vw;
    margin: auto -1rem;
    padding: 1rem 2rem 0.25rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    font-size: 1.2rem;
    font-weight: 400;
    color: peachpuff;
}

html {
    font-family: "Hind Mysuru", Arial, Helvetica, sans-serif;
}

/* * * * * * * *  * * * * * * * * */
/* CUSTOM CLASSES — Alphabetical: */
/* * * * * * * *  * * * * * * * * */
.btn {
    --bs-btn-font-size: 0.85rem;
    font-style: italic;
    --bs-btn-padding-y: 0.6rem;
}

.btn-outline-primary {
    --bs-btn-color: saddlebrown;
    --bs-btn-border-color: saddlebrown;
    --bs-btn-hover-bg: saddlebrown;
    --bs-btn-hover-border-color: saddlebrown;
    --bs-btn-active-bg: saddlebrown;
    --bs-btn-bg: peachpuff;
    --bs-btn-active-border-color: saddlebrown;
    transition: 0.25s all ease;
}
/* 
.btn-outline-primary:hover {
    background: #c99868;
    } */

.btn-dumpster {
    --bs-btn-bg: peachpuff;
    --bs-btn-color: #c99868;
    --bs-btn-hover-color: sienna;
    --bs-btn-active-color: saddlebrown;
    border: none;
    --bs-btn-font-size: 1.6rem;
}

.btn-group {
    --bs-border-radius: 1.35rem;
}

.buttons-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0 5rem;
    width: 90%;
    margin: 10rem auto 0;
    height: 2.2rem;
}

.note {
    position: relative;
    background: oldlace;
    border-radius: 0.65rem;
    box-shadow: 0.15rem 0.1rem 0.4rem #c99868;
    padding: 0.65rem;
    width: 18rem;
    height: 17rem;
    overflow-y: auto;
    margin: 1.75rem 1rem;
    float: left;
    font-family: "Hind Mysuru", Arial, Helvetica, sans-serif;
}

@keyframes note-animation {
    50% {
        box-shadow: 0.5px 0.5px 0.65rem sienna;
        scale: 101%;
    }
}

.note:hover {
    animation: note-animation 23s linear infinite;
}

.note-content::placeholder,
.note-title::placeholder {
    color: #c99868;
}

.note .button-right {
    opacity: 0.25;
    position: absolute;
    background: none;
    right: 0.85rem;
    bottom: 0.75rem;
    color: sienna;
    border: none;
    font-size: 1.05rem;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
}

.note .button-left {
    opacity: 0.25;
    position: absolute;
    background: none;
    left: 0.85rem;
    bottom: 0.75rem;
    color: sienna;
    border: none;
    font-size: 1.05rem;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
}

.note .button-middle {
    opacity: 0.25;
    position: absolute;
    background: none;
    left: 5rem;
    bottom: 0.75rem;
    color: sienna;
    border: none;
    font-size: 1.05rem;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
}

.note button:hover {
    opacity: 1;
}

.hide-y {
    overflow-y: hidden;
}

.note-content {
    font-weight: 400;
    font-size: 1.05em;
    font-style: italic;
    margin: 0.5rem auto 0.5rem;
    padding: 0 0.4rem;
}

.note-content,
.note-title {
    color: saddlebrown;
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-family: inherit;
    resize: none;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.note-date {
    color: saddlebrown;
    font-weight: 300;
    font-size: 0.775em;
    font-style: italic;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.note-title {
    font-size: 1.25rem;
    font-weight: 700;
    color: sienna;
}

.note-title-date {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    padding: 0.05rem 0.35rem;
}

.notes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2rem;
    margin: 0 auto 11.5rem;
    width: 100%;
}

.footer-all {
    display: flex;
    flex-direction: column;
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr; */
    align-items: center;
    width: 40vw;
    margin: 0 auto 1rem;
    font-size: 1.15rem;
    font-style: italic;
    font-weight: 400;
    color: peachpuff;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto 1rem;
}

.footer-quote {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto 1rem;
}

.footer-quote p {
    margin: 0 auto;
}

.footer-quote a {
    color: peachpuff;
}

.page-title {
    display: flex;
}

.pencil-img {
    max-height: 3rem;
    margin-right: 1rem;
}

#root {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
